* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: rgb(231, 227, 182);
  font-family: montserrat;
}
html:hover {
  animation: enter 50s linear infinite;
  animation-delay: 2s;
}
.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  min-width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.mobile a {
  display: block;
  width: 40vw;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  color: rgb(65, 62, 62);
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 7px -4px 3px rgb(65, 62, 62);
  transition: 0.4s;
}

.mobile a:hover {
  box-shadow: -7px 4px 3px rgb(65, 62, 62);
}
@keyframes enter {
  10% {
    background-color: chocolate;
  }
  20% {
    background-color: rgb(143, 120, 103);
  }
  30% {
    background-color: rgb(85, 56, 35);
  }
  40% {
    background-color: rgb(39, 34, 31);
  }
  50% {
    background-color: rgb(83, 117, 117);
  }
  60% {
    background-color: rgb(77, 58, 45);
  }
  70% {
    background-color: rgb(90, 76, 66);
  }
  80% {
    background-color: rgb(53, 25, 5);
  }
  90% {
    background-color: rgb(146, 80, 13);
  }
}
@media (orientation: portrait) and (min-width: 374px) {
  .mobile a {
    width: 50vw;
    height: 20vh;
    line-height: 20vh;
  }
}
@media (orientation: portrait) and (min-width: 410px) {
  .mobile a {
    width: 50vw;
    height: 20vh;
    line-height: 20vh;
  }
}
@media (orientation: portrait) and (min-width: 767px) {
  .mobile a {
    width: 50vw;
    height: 20vh;
    line-height: 20vh;
    font-size: 50px;
  }
}

@media (orientation: landscape) and (min-width: 532px) {
  .mobile {
    flex-direction: row;
    min-height: 90vh;
    min-width: 90vw;
    justify-content: space-around;
    align-items: center;
  }
  .mobile a {
    display: block;

    height: 30vh;
    line-height: 30vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    color: rgb(65, 62, 62);
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 7px -4px 3px rgb(65, 62, 62);
    transition: 0.4s;
  }
}
@media (orientation: landscape) and (min-width: 802px) {
  .mobile a {
    display: block;

    height: 50vh;
    line-height: 50vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    color: rgb(65, 62, 62);
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 7px -4px 3px rgb(65, 62, 62);
    transition: 0.4s;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .mobile a {
    display: block;

    height: 50vh;
    line-height: 50vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-style: italic;
  }
}
